<div class="container">
  <a class="button" href="/new">Create new recipe</a>
  <ul class="recipe-list">
    <% @recipes.each do |recipe| %>
    <li class="list-item">
      <h4><%= recipe.name %></h4>
      <br>
      <p><%= recipe.description %></p>
      <br>
      <a href="/destroy">[x]</a>
    </li>
    <% end %>
  </ul>
</div>
